<manifest xmlns:android="http://schemas.android.com/apk/res/android">
        <application>
            <activity android:name=".SplitScreenActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:resizeableActivity="true"
                android:screenOrientation="fullSensor">
            </activity>

            <activity android:name=".SecondScreenActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTop"
                android:resizeableActivity="true"
                android:screenOrientation="fullSensor"
                android:exported="true">

                <intent-filter>
                    <action android:name="com.test.plugins.multiscreenactivity.SWAP_FRAGMENTS" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>

            </activity>

            <receiver android:name=".SwapReceiver"
                android:exported="true">
                <intent-filter>
                    <action android:name="com.test.plugins.multiscreenactivity.SWAP_FRAGMENTS" />
                </intent-filter>
            </receiver>
    </application>
</manifest>
